/* Coffee menu detail */
.coffee_pictureinfo {
	padding: 32px 0 0 0;
	display: flex;
	justify-content: center;
}

.picture_box {
	padding: 0 50px 0 0;
	width: 400px;
}

.coffee_img {
	width: 300px;
	height: 300px;
}

.info_top {
	display: block;
	border-bottom: 2px solid var(--color-orange);
}

.coffee_price {
	text-align: end;
}

.info_number {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

#minusbtn, #plusbtn {
	width: 30px;
	font-size: 20px;
	color: var(--color-brown);
	background-color: var(--color-light-brown);
	border-color: var(--color-light-white);
	border-radius: 5px;
}

#minusbtn, #plusbtn:hover {
	cursor: pointer;
}

#qtyText {
	width: 40px;
	text-align: center;
	font-size: var(--font-regular);
	border: none;
}

.detail_explain {
	height: 100px;
	width: 450px;
	margin-top: 10px;
	font-size: var(--font-micro);
	text-align: start;
}

.addorder_btn {
	margin-top: 10px;
	border: 1px solid var(--color-orange);
	border-radius: var(--size-border-radius);
	font-size: var(--font-regular);
	padding: 8px 24px;
	position: relative;
}

.addorder_btn:hover {
	background-color: var(--color-orange);
	color: var(--color-white);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
	.category_btn {
		margin: 4px 0;
		width: 100%;
	}
	.picture_box {
		margin: 0 30px 0 0;
		width: 300px;
	}
	.coffee_img {
		width: 250px;
		height: 250px;
	}
	.info_number {
		margin-top: 8px;
		display: flex;
		justify-content: center;
	}
	#minusbtn, #plusbtn {
		width: 25px;
		font-size: 15px;
	}
	.detail_explain {
		height: 100px;
		width: 250px;
		margin-top: 10px;
		text-align: start;
	}
}