
.olist_h3 {
	ont-size: var(--font-medium);
    /*font-weight: var(--weight-semi-bold);*/
    color: var(--color-black);
    margin:8px 0;
	text-align:center;
	font-size:36pt;
}

.olist_menu {
    display: flex;
    max-width:100%;
    justify-content: center;
    padding: 20px 0 30px 0;
}

.olist_table{
	border-left:0px;
	border-right:0px;
	border-top:1px;
	border-bottom:1px;
	border-color:gray;
	border-collapse:collapse;
	
}

.olist_table th {
    position: relative;
    height: 43px;
    padding: 8px;
    background-color: #e76f51;
    box-shadow: 0 3px 0 0 #E1E1E8;
    letter-spacing: -0.1px;
    line-height: 24px;
    vertical-align: middle;
    font-size:17pt;
    text-align:center;
    color:white;
    font-weight:500;
}

.olist_table tr td {
    height: 50px;
    padding: 8px;
    background-color: #fff;
    letter-spacing: -0.1px;
    line-height: 24px;
    border-bottom: 1px solid #E1E1E8;
    vertical-align: middle;
    text-align:center;
    font-size:14pt;
}