
/* Section common */
.section {
    padding: 110px 0 100px 0;
    margin: auto;
    text-align: center;
}

.section_container {
    max-width: 1200px;
    margin: auto;
}


.menu_cart h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

.cart_h2 {
    color: var(--color-black);
    margin:8px 0;
	text-align:center;
}

.menu_cart h3 {
    /*font-size: var(--font-regular);*/
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}

.menu_cart p {
    font-size: var(--font-micro);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
    font-family: 'Montserrat', sans-serif;
}

.menu_cart {
    display: flex;
    max-width:100%;
    justify-content: center;
    padding: 20px 0 30px 0;
}

.cart_table th {
    position: relative;
    height: 40px;
    padding: 8px;
    background-color: #e27049;
    box-shadow: 0 1px 0 0 #E1E1E8;
    letter-spacing: -0.1px;
    line-height: 24px;
    vertical-align: middle;
    font-size:100pt;
}

.cart_table tr td {
    height: 50px;
    padding: 8px;
    background-color: #fff;
    letter-spacing: -0.1px;
    line-height: 24px;
    border-bottom: 1px solid #E1E1E8;
    vertical-align: middle;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}

.cart_info_option {
    display: flex;
    justify-content: start;
    padding: 5px 0;
}

.cart_info_subtitle {
    margin-right: 10px;
}

.minusbtn,
.plusbtn {
    width: 30px;
    font-size: 20px;
    color: var(--color-brown);
    background-color: var(--color-light-brown);
    border-color: var(--color-light-white);
    border-radius: 5px;
}

.minusbtn,
.plusbtn:hover {
    cursor: pointer;
}

.qtyText {
    width: 40px;
    text-align: center;
    font-size: var(--font-regular);
    border: none;
}

.menu_cart .info_input {
    width: 200px;
    height: 30px;
    border-left: none;
    border-right: none;
    border-top:	none;
}

.order_btn {
    border: 1px solid var(--color-orange);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    position: relative;
    background-color: transparent;
    cursor: pointer;
    margin-top:10px;
}

.order_btn:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
}