#navbar {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-light-brown);
	padding: 8px 16px;
	z-index: 1;
}

.navbar_menu {
	display: flex;
}

.navbar_menu_item {
	padding: 5px;
	margin: 0 4px;
	color: var(- -color-black);
	cursor: pointer;
}

.navbar_menu>li {
	float: left;
	width: 170px;
}

.navbar_menu>li>a {
	display: block;
	padding: 8px 16px;
	text-align: center;
	color: #583101;
	font-size: 15pt;
}

.navbar_menu>li:hover .navbar_sub_menu {
	opacity: 1;
	visibility: visible;
}

.navbar_toggle-btn {
	position: absolute;
	top: 24px;
	right: 32px;
	font-size: 24px;
	color: var(- -color-black);
	display: none;
}

.navbar_sub_menu {
	position: absolute;
	background: begie;
	opacity: 0;
	visibility: hidden;
}

.navbar_sub_menu>li {
	padding: 5px;
	border-bottom: 1px solid white;
	background-color: #f5f0e6;
	opacity: 0.8;
}

.navbar_sub_menu>li>a {
	color: #6f4518;
}


/* For below 768px screen width */
@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }

    .navbar_toggle-btn {
        display: block;
        right: 16px;
        font-size: var(--font-medium);
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-light-brown);
    }
	
    .navbar_menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar_menu.open {
        display: block;
    }
}